@use "./styles/button.scss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: jetBrains Mono;
}
html,
body,
#root{
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    font-family: 'JetBrains Mono', monospace;
}